<!--
  ~ Created on 18-9-16 下午4:04.
  ~ Copyright © 2018 刘振林. All rights reserved.
  -->

<manifest package="com.liuzhenlin.texturevideoview"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.BLUETOOTH" />

    <uses-sdk tools:overrideLibrary="
            com.google.android.exoplayer2.core,
            com.google.android.exoplayer2.source.dash,
            com.google.android.exoplayer2.source.hls,
            com.google.android.exoplayer2.source.smoothstreaming" />

    <application>
        <receiver android:name=".receiver.MediaButtonEventReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
