<!--
  ~ Created on 18-9-16 下午4:04.
  ~ Copyright © 2018 刘振林. All rights reserved.
  -->

<manifest package="com.liuzhenlin.texturevideoview"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.BLUETOOTH" />

    <uses-sdk tools:overrideLibrary="com.google.android.exoplayer2.core" />
</manifest>
